실습결과물/23/gov_check_init.json
{
  "name": "gov_check_init",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -608,
        464
      ],
      "id": "1009500d-88e3-48b5-9e5d-89b21acb298a",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst totalPages = 128;\nconst items = [];\n\n\nfor (let i=1;i<=totalPages; i++) {\n  items.push({\n    json: {page: i}\n  });\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        224
      ],
      "id": "0aad1dfa-26a2-4831-aa4d-4e9cbd48b687",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -160,
        464
      ],
      "id": "7c245d30-3496-4cac-9d03-63526a1999d6",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1F9BEcb3oU-YeTm_9e4dZKIXfwGhHqF4bH_KpvcGBLm0",
          "mode": "list",
          "cachedResultName": "피드백 제출",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1F9BEcb3oU-YeTm_9e4dZKIXfwGhHqF4bH_KpvcGBLm0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 72479161,
          "mode": "list",
          "cachedResultName": "응답에서",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1F9BEcb3oU-YeTm_9e4dZKIXfwGhHqF4bH_KpvcGBLm0/edit#gid=72479161"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        64,
        192
      ],
      "id": "b586d442-c668-4602-b223-e53672f6ebee",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SPvyTQhS6NLgSsf2",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://bizinfo.go.kr/sii/siia/selectSIIA200View.do?rows=15&cpage={{ $json.page }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        64,
        384
      ],
      "id": "3dfea47c-9a32-4f1d-bd23-af23892f7add",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "bizinfo",
              "cssSelector": "table tbody tr",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        288,
        384
      ],
      "id": "3b754630-abdc-4fcf-a0ca-f21c6ff64f0b",
      "name": "HTML1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "bizinfo",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        512,
        384
      ],
      "id": "863f7955-c865-4f33-86c9-7a6db3bc8023",
      "name": "Split Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cdbae22c-f7eb-4003-afa7-5cd5564c30bc",
              "name": "지원사업ID",
              "value": "={{$json.bizinfo.match(/^\\d+/)?.[0]}}",
              "type": "string"
            },
            {
              "id": "74139bea-35d4-47cb-a281-161c48736cd8",
              "name": "bizinfo",
              "value": "={{$json.bizinfo.replace(/^\\d+\\s*/, '').split('\\n')[0].trim()}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        736,
        384
      ],
      "id": "ebe41344-ebef-4eef-b86e-b3eb2e5886fa",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8b349b5c-d192-4ddd-a559-6a00d72aff8d",
              "leftValue": "={{ $json[\"지원사업ID\"] }}",
              "rightValue": "=null",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        960,
        464
      ],
      "id": "d91727cc-cc22-41d9-a5b2-840a048ff7ed",
      "name": "If"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "total_pages = 128\nitems = []\n\nfor i in range(1, total_pages + 1):\n    items.append({\n        \"json\": {\n            \"page\": i\n        }\n    })\n\nreturn items"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        464
      ],
      "id": "f6c639c8-364f-4126-9326-8bc7b2b4ba7b",
      "name": "Code in Python"
    },
    {
      "parameters": {},
      "id": "35699f7d-ab59-4744-84a4-ce71b0ecf61a",
      "name": "No More Items",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1184,
        528
      ]
    }
  ],
  "pinData": {
    "Code in JavaScript": [
      {
        "json": {
          "page": 93
        }
      },
      {
        "json": {
          "page": 94
        }
      },
      {
        "json": {
          "page": 95
        }
      },
      {
        "json": {
          "page": 96
        }
      },
      {
        "json": {
          "page": 97
        }
      },
      {
        "json": {
          "page": 98
        }
      },
      {
        "json": {
          "page": 99
        }
      },
      {
        "json": {
          "page": 100
        }
      },
      {
        "json": {
          "page": 101
        }
      },
      {
        "json": {
          "page": 102
        }
      },
      {
        "json": {
          "page": 103
        }
      },
      {
        "json": {
          "page": 104
        }
      },
      {
        "json": {
          "page": 105
        }
      },
      {
        "json": {
          "page": 106
        }
      },
      {
        "json": {
          "page": 107
        }
      },
      {
        "json": {
          "page": 108
        }
      },
      {
        "json": {
          "page": 109
        }
      },
      {
        "json": {
          "page": 110
        }
      },
      {
        "json": {
          "page": 111
        }
      },
      {
        "json": {
          "page": 112
        }
      },
      {
        "json": {
          "page": 113
        }
      },
      {
        "json": {
          "page": 114
        }
      },
      {
        "json": {
          "page": 115
        }
      },
      {
        "json": {
          "page": 116
        }
      },
      {
        "json": {
          "page": 117
        }
      },
      {
        "json": {
          "page": 118
        }
      },
      {
        "json": {
          "page": 119
        }
      },
      {
        "json": {
          "page": 120
        }
      },
      {
        "json": {
          "page": 121
        }
      },
      {
        "json": {
          "page": 122
        }
      },
      {
        "json": {
          "page": 123
        }
      },
      {
        "json": {
          "page": 124
        }
      },
      {
        "json": {
          "page": 125
        }
      },
      {
        "json": {
          "page": 126
        }
      },
      {
        "json": {
          "page": 127
        }
      },
      {
        "json": {
          "page": 128
        }
      }
    ]
  },
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Code in Python",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        []
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No More Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No More Items": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "b9ddaedf-40cb-415c-a91f-b960f2462556",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1730f8f31a51b17130cabb0ca3e46a140977f645f6d862c42701b3a3d939fce6"
  },
  "id": "CKxn9yODo1F0b3iB",
  "tags": []
}